<div class="p-2 d-flex justify-content-between">
    <% if comment.commenter %>
    <div>
        <strong><%= comment.commenter %>:</strong>
        <%= comment.body %>
    </div>
    <% if policy(comment).destroy? %>
    <div>
        <%= link_to 'Delete', [comment.article, comment], class: "btn btn-outline-danger",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>
    <% end %>
</div>