<h5>Add comment</h5>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
<p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
</p>
<p>
    <%= form.submit %>
</p>
<% end %>