<%= render "header" %>

<div class="d-flex justify-content-center">
    <div class="w-50 d-block">
        <% if current_user %>
        <%= render 'form', article: @article %>
        <% else %>
        <div class="alert alert-light" role="alert">
            Login to post your articles.
        </div>
        <% end %>

        <% unless @articles.count == 0 %>
        <%= render @articles %>
        <div class="d-flex justify-content-center">
            <%= paginate @articles %>
        </div>
        <% else %>
        <div class="alert alert-info" role="alert">
            There are no articles that match specified parameter
        </div>
        <% end %>
    </div>
</div>