<%= render "header" %>

<div class="bg-light d-flex justify-content-center">
    <div class="w-50 d-block">
        <% if current_user %>
        <%= render 'form', article: @article %>
        <% else %>
        <div class="alert alert-light" role="alert">
            Login to post your articles.
        </div>
        <% end %>

        <%= render @articles %>
    </div>
</div>